.project-btn{
    border: 1px solid rgb(189, 3, 226);
    background-color: rgba(255, 0, 255, 0.041);
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    border-radius: 40px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
    transition: .3s;
}
.project-btn:hover{
    border: 2px solid rgb(189, 3, 226);
    background-color: rgba(128, 0, 128, 0.356);
}
.source-btn{
    border: 2px solid white;
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 4px 8px;
    transition: .5s;
}
.source-btn:hover{
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}
.live-site-btn{
    border: 2px solid yellow;
    background-color: yellow;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 4px 8px;
    transition: .5s;
}
.server-btn{
    border: 2px solid red;
    background-color: red;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 4px 8px;
    transition: .5s;
}
.server-btn a{
    text-decoration: none;
}
.client-btn{
    border: 2px solid blue;
    background-color: blue;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 4px 8px;
    transition: .5s;
}
.client-btn a{
    text-decoration: none;
}
.live-site-btn:hover{
    border: 2px solid yellow;
    background-color: rgba(255, 255, 0, 0);
    color: yellow;
}
.view-all-btn{
    border: 3px dotted purple;
    background-color: purple;
    padding: 6px 32px;
    font-weight: bold;
    color: white;
    transition: .5s;
}
.view-all-btn:hover{
    border: 3px solid purple;
    background-color: rgba(165, 15, 179, 0.205);
    border-radius: 40px;
    color: rgb(247, 235, 235);
}
.project-img{
    overflow: hidden;
}
.project-img img{
    transition: all 1.5s ease;
}
.project-img:hover img{
    transform: scale(1.5);
}