.progress-bar{
    width: 25%;
}
.progress-bar{
    width: 75%;
    color: red;
    background-color: yellow;
}
.html{
    margin-bottom: 0;
}
.css{
    margin-bottom: 0;
}
.background-tech{
    background-color: #F5F8F9;
}
.first-card{
    background-color: #FFFFFF;
}
.second-card{
    background-color: #181A1B;
}
.third-card{
    background-color: #181A1B;
}