@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.banner-container{
    /* background-color: #F4F4FB; */
    background-color: #F0F0F6;
    color: black;
}
.banner-container h4, h6, span, p{
    color: #44566c;
}
.banner-container h4{
    font-family: 'Quicksand', sans-serif; 
}
.banner-container span, p{
    font-weight: 600;
}
.banner-container button{
    border: 0;
    color: #44566c;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 15px;
    margin-bottom: 12px;
    border-radius: 40px;
}
.font-awesome .facebook, .linkedin{
    margin-left: 14px;
}
.font-awesome .facebook, .github, .linkedin{
    color: #44566c;
    font-size: 18px;
    transition: .3s;
}
.font-awesome .facebook:hover, .github:hover, .linkedin:hover, .twitter:hover{
    color:#9110F5;
    cursor: pointer;
}
.resume{
    border: 2px solid #8C14FC;
    background-color: #445dfd00;
    color: #445EFD;
    font-weight: 600;
    transition: 0.4s;
}
.resume:hover a{
    color: #ffffff;
}
.resume a{
    text-decoration: none;
    color: #445EFD;
    border: 2px solid #9110F5;
    background-color: #9110F5;
    padding: 6px 26px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 2px;
}
.with-nav{
    margin-top: 43px;
    margin-bottom: 33px;
    background-color: #fff;
    border-radius:23px;
}
.programmer-banner-img{
    width: 160px;
    border-radius: 50%;
    margin-top: 18px;
    box-shadow: 4px 4px 30px rgb(244, 245, 245);
}
.banner-resume-part{
    background-color: #F5F8F9;
    text-align: left;
    padding-left: 22px;
    color: #44566C;
    font-weight: 600;
    font-size: 16px;
}
/* .my-p-img{
    overflow: hidden;
}
.my-p-img img{
    transition: all 1.5s ease;
}
.my-p-img:hover img{
    transform: scale(1.2);
    cursor: zoom-in;
} */