.contact-container{
    background-color: #1A1C1D;
    color: white;
}
.name-input[type=text]:focus {
    outline-color: red;
  }
  .font-awesome .fbook, .linkd, .twit{
    margin-left: 10px;
}
.fonts .git, .fbook, .linkd, .twit{
    color:#8C14FC;
    font-size: 24px;
    transition: .3s;
}
.fonts .git:hover, .fbook:hover, .linkd:hover, .twit:hover{
    color: #5222d6;
    cursor: pointer;
}
.icon{
    color: #8C14FC;
}
.submit-btn{
    background-color: #8C14FC;
    color: white;
    font-weight: bold;
    padding: 10px 42px;
}
.skill-icon{
    color: #8C14FC;
}
.skill-icon:hover{
    color: rgb(98, 0, 255);
}
.contact-form input, textarea{
    background-color: #1e2122;
    color: white;
}
.contact-form input:focus, textarea:focus{
    background-color: #2c2c2c;
    color: white;
}