.contact-container{
    background-color: #F5F8F9;
    color: black;
}
.name-input[type=text]:focus {
    outline-color: red;
  }
  .font-awesome .fbook, .linkd, .twit{
    margin-left: 10px;
}
.fonts .git, .fbook, .linkd, .twit{
    color:#44566c;
    font-size: 20px;
    transition: .3s;
}
.fonts .git:hover, .fbook:hover, .linkd:hover, .twit:hover{
    color: #5222d6;
    cursor: pointer;
}
.icon{
    color: #44566c;
    font-size: 20px;
}
.submit-btn{
    background-color: #8C14FC;
    color: #44566c;
    font-weight: bold;
    padding: 6px 42px;
}
.skill-icon{
    color: #8C14FC;
}
.skill-icon:hover{
    color: rgb(98, 0, 255);
}
.contact-form input, textarea{
    background-color: #FFFFFF;
    color: white;
}
.contact-form input:focus, textarea:focus{
    background-color: #f8f8f8;
    color: rgb(0, 0, 0);
}
.contact-container h4, h5{
    color: #44566c;
}
.contact-container label{
    font-weight: 600;
    color: #44566c;
}
.contact-container .submit-btn{
    color: #44566c;
}