@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.nav-link{
    margin-right: 20px;
    text-decoration: none;
}
.masum{
    font-family: 'Quicksand', sans-serif;  
    text-decoration: none;
    /* font-style: italic; */
    font-size: 42px;
    font-weight: 700;
    color: rgb(82, 80, 218);
    transition: 0.5s;
}
.masum:hover{
    color: #ED8C19;
}
.navimage{
    width: 42px;
}
.navbar-bgc{
    background-color: #FFFFFF;
    border-radius: 20px;
}
.portfolio-nav li a{
    color: black;
    font-weight: 600;
}