@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.nav-link{
    margin-right: 20px;
    text-decoration: none;
}
.masum{
    font-family: 'Quicksand', sans-serif;  
    text-decoration: none;
    /* font-style: italic; */
    font-size: 42px;
    font-weight: 700;
    color: rgb(82, 80, 218);
    transition: 0.5s;
}
.masum:hover{
    color: rgb(235, 219, 1);
}
.navimage{
    width: 42px;
}
.navbar-bgc{
    background-color: #1B1E1F;
    margin-bottom: 72px;
}